@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.form{
    display:flex;
    flex-direction: row;
    padding: 1rem;
    min-height: 36px;

    @include tablet{
        padding:0 36px 24px 36px;
    }

    @include desktop{
      padding:0 64px;
  }

    &__container1{
        width:20%;
        padding-top: 1rem;

        @include tablet{
          width:8%;
        }

        @include desktop{
          width:7%;
        }
    }
    &__container2{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;

        @include tablet{
          padding-left: 0;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width:92%;
        }
    }
    &__container3{
      width:72%;
    }
    &__commentLable{
        margin-bottom: 4px;
        @include font-style('Avenir',13px,600,20px,$silver);
    }
    
    &__comment{
        width: 100%;
        min-height:36px;
           //d and t :40px
        height:105px;   
        margin: 0 12px 12px 0;  
        border:1px solid $mercury;
        border-radius: 4px;
        padding: 0.75rem;
        background-color: $alabaster;


        @include tablet{
          height:41px;
          min-height:40px;
        }
        &:active{
            border:2px solid $brainflix-blue;
          }
          &::placeholder{
            color:$brainflix-darkblack;
          }
          &:focus {
            border: 1px solid $brainflix-black;  
            outline: none;  
          }
          &.error {
            border:1px solid $error;
          }

          &__button{
            gap:60px;
          }
    }
}

.comment{
    display:flex;
    flex-direction: column;

    &__body{
        width:100%;
    }
    &__align{
        display: flex;
        flex-direction: row;
        padding: 16px;

        @include tablet{
          padding:24px 36px;
        }

        @include desktop{
          padding-left: 64px;
          padding-right: 64px;
        }
    }

    &__main{
        display: flex;
        flex-direction: column;
        width:80%;

        @include tablet{
          width:92%;
        }
    }

    &__head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:3rem;
      }

      &__name{
        padding:0;
        @include font-style('Avenir',16px,600,20px,$brainflix-darkblack);
      }

      &__date{
        justify-content: center;
        align-items: center;
        color:$mercury;
       }

      &__text{
        @include font-style('Avenir',16px,400,20px,$brainflix-black);
        width:100%;
        text-align: justify;

        @include tablet{
          width:93%;
        }
      }
      &__avatar{
        width:20%;
        padding-top: 1rem;

        @include tablet{
          width:8%;
        }

        @include desktop{
          width:7%;
        }
      }
}