@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.video-thumbnail{ 
    background-color: $brainflix-darkblack;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__img{
        width:100%;
        object-fit: contain;
        height:auto;
    }
}