@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;

.errormsg{
    @include font-style('Avenir',13px,600,20px,$brainflix-darkblack);
    padding-left:1rem;

    @include tablet{
        @include font-style('Avenir',20px,600,20px,$brainflix-darkblack);
        padding-left: 2.25rem;
        padding-top: 2.25rem;
    }

    @include desktop{
      @include font-style('Avenir',22px,600,20px,$brainflix-darkblack);
      padding-left: 4rem;
      padding-top: 4rem;
    }
  }