@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/globals';

.header{
    width:100vw;
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 1rem;

    @include tablet{
        flex-direction: row;
        padding: 1rem 2.25rem;
        justify-content: space-between;
    }

    @include desktop{
        padding: 1rem 4rem;
    }

    &__logocontainer{
        width:100%;
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;

        @include tablet{
            justify-content: flex-start;
            align-items: center;
            width:12.5rem;
            padding-bottom: 0;
        }
    }

    &__logo{
        width:7.5rem;
        height:1.5625rem;  
    }

    &__searchcontainer{
       display: flex;
       flex-direction: row; 
       flex-wrap: wrap;
       justify-content: space-between;

       @include tablet{
        flex-wrap: nowrap;
        padding-bottom: 0;
        width:65%;  
       }

       @include desktop{
        width:49%;
       }
    }
    
    &__search{
        position: relative; 
        display: flex;
        align-items: center;
        padding-bottom: 1rem;

        @include tablet{
            padding-bottom: 0;
        }

        @include desktop{
            width:19.9375rem;
        }

    }
    
    &__searchicon{
        position: absolute; 
        left: 0.75rem; 
        top: 36%; 
        transform: translateY(-50%); 
        width: 1.25rem; 
        height: 1.25rem; 
        pointer-events: none;

        @include tablet{
            top:47%;
        }
    }

    &__searchtext{
        padding: 0.625rem 2.5rem; 
        border: 1px solid $mercury;
        border-radius: 5px;
        outline: none;
        background-color: $alabaster;
        color: $brainflix-darkblack;
        height:2.5rem;

        @include desktop{
            width:20.625rem;
        }

        &::placeholder{
            color: $brainflix-black;
        }

    }
    
}