@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
.video{ 
    background-color: $brainflix-darkblack;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // aspect-ratio: 16/9;

    @include tablet{
        padding: 0 36px;
    }

    @include desktop{
        padding: 0 128px;
    }

    &_img{
        width:100%;
        object-fit: contain;
        height:auto;
    }

    &__title{
        @include font-style('Avenir',24px,700,32px,$brainflix-black);
        padding:16px;
    }

    &__border{
        color:$mercury;
        height:1px;
        margin-left: 16px;
        margin-right: 16px;
    }

    &__containers{
        display:flex;
        flex-direction: row;
        padding:1rem;
    }
    &__container1{
        padding-right: 1rem;
        justify-content: space-between;
    }
    &__container2{
        display: flex;
        padding-bottom: 1rem;
    }
    &__container3{
        display: flex;
    }
    &__author{
        padding-bottom: 1rem;
        @include font-style('Avenir',16px,700,20px,$brainflix-black);
    }
    &__views-icon{
        padding-right: 0.5rem;
    }
    &__likes-icon{
        padding-right: 0.5rem;
    }
    &__views{
        @include font-style('Avenir',16px,400,20px,$silver);
    }
    &__likes{
        @include font-style('Avenir',16px,400,20px,$silver);
    }
    &__date{
        @include font-style('Avenir',16px,400,20px,$silver);
    }  
} 
    .description{
        padding: 1rem;

        &__copy{
            @include font-style('Avenir',14px,400,18px,$brainflix-black);
        }

        &__comments{
            padding-top: 1rem;
            @include font-style('Avenir',16px,700,20px,$brainflix-black);
        }
    }

    

// // Scrubbing controls and icon design
// video::-webkit-media-controls-play-button {
//     color: $white;
//      // White fill for video play button
// }

// video::-webkit-media-controls-scrubber {
//     background-color: $brainflix-black; // BrainFlix-DarkBlack scrubber background
// }

// video::-webkit-media-controls-timeline {
//     background-color: $silver; // Silver buffer color
// }

// video::-webkit-media-controls-current-time-display,
// video::-webkit-media-controls-time-remaining-display {
//     color: $white; // White color for the time display
// }

// video::-webkit-media-controls-timeline-container {
//     background-color: $brainflix-blue; // BrainFlix-Blue for the played part of the scrubber
// }