@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.avatar{
    border-radius: 50%;
    background-color: $mercury;
    width:2.25rem;
    height:2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet{
        order:3;
        width:2.5rem;
        height:2.5rem;
        border-radius: 50%;
    }

    @include desktop{
        order:3;
        width:2.5rem;
        height:2.5rem;
        border-radius: 50%;
    }

    &__img{
        height:100%;
        width:100%;
        border-radius: 50%;
        object-fit: cover;

        @include tablet{
            order:3;
        }
       }     

       &__placeholder {
        width: 100%;
        height: 100%;
        background-color: $mercury; 
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }   

}

